.finestra {
  margin-top: 2px;
  margin-left: 2px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  opacity: .85;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
  float: right;
}

th {
  padding: 5px;
  white-space: nowrap;
}

td {
  padding: 5px;
}

.chiusura {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 30px;
  background-repeat: no-repeat;
  height: 30px;
  background-size: contain;
  background-image: url('../../assets/Immagini/chiusura.png');
  cursor: pointer;
}

.barraSuperiore {
  width: 100%;
  float: left;
  height: 40px;
}

.contenitoreInterno {
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 40px;
  overflow: auto;
}

.immagineIcona {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.immagineSquadra {
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* filter: grayscale(1);*/
  margin-top: 3px;
}

.immagineGiocatore {
  width: 70px;
  height: 70px;
  cursor: pointer;
  /* filter: grayscale(1);*/
  margin-top: 3px;
}

.immagineSuGiu {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.immaginePopup {
  width: 150px;
  height: 150px;
}

.scritta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.rigaGenerale {
  width: calc(100% - 6px);
  height: 40px;
  border: 1px solid #999;
  margin: 3px;
  background-color: #ffcece;
  margin-top: 5px;
  border-radius: 5px;
}

.rigaIntestazione {
  width: calc(90% - 5px);
  float: left;
  font-size: 16px;
  margin-top: 9px;
  margin-left: 5px;
}

.dettaglio {
  width: calc(100% - 6px);
  border: 1px solid #999;
  background-color: #c4ddf3;
  height: auto;
  margin-top: -2px;
  border-radius: 5px;
  margin-left: 3px;
}

.popupImmagine {
  position: absolute;
  width: auto;
  height: auto;
  padding: 1px;
  background-color: #c4ddf3;
  border: 1px solid #999;
  border-radius: 3px;
}
