<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 10%; float: left;">
      <img class="immagineIcona" style="margin-left: 5px;" title="Indietro"
        src="../../assets/Immagini/indietro.png" (click)="indietro()" />
      <img class="immagineIcona" style="margin-left: 5px;" title="Avanti"
        src="../../assets/Immagini/avanti.png" (click)="avanti()" />
      </div>
    <div class="scritta" style="width: 90%; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Classifica Anno {{idAnno}} - {{DescrizioneAnno}} Concorso {{idConcorso2}}
    </div>
  </div>
  <div class="contenitoreInterno scritta">
    <table style="width: 100%;">
      <tr>
        <th style="border-right: 1px solid #aaa;">N°</th>
        <th style="border-right: 1px solid #aaa;">NickName</th>
        <th style="border-right: 1px solid #aaa;">Punti</th>
        <th style="border-right: 1px solid #aaa;">Ris. Es.</th>
        <th style="border-right: 1px solid #aaa;">G. Casa</th>
        <th style="border-right: 1px solid #aaa;">G. Fuori</th>
        <th style="border-right: 1px solid #aaa;">Segni</th>
        <th style="border-right: 1px solid #aaa;">Somma</th>
        <th style="border-right: 1px solid #aaa;">Diff.</th>
      </tr>
      <tr *ngFor="let classifica_utente of classifica; let i2 = index" [attr.data-index]="i2">
        <td style="text-align: center; border-right: 1px solid #aaa;">{{classifica_utente.Posizione}}</td>
        <td style="text-align: left; border-right: 1px solid #aaa;">{{classifica_utente.NickName}}</td>
        <td style="text-align: right; border-right: 1px solid #aaa;">{{classifica_utente.Punti}}</td>
        <td style="text-align: right; border-right: 1px solid #aaa;">{{classifica_utente.RisultatiEsatti}}</td>
        <td style="text-align: right; border-right: 1px solid #aaa;">{{classifica_utente.RisCasaTot}}</td>
        <td style="text-align: right; border-right: 1px solid #aaa;">{{classifica_utente.RisFuoriTot}}</td>
        <td style="text-align: right; border-right: 1px solid #aaa;">{{classifica_utente.Segni}}</td>
        <td style="text-align: right; border-right: 1px solid #aaa;">{{classifica_utente.SommaGoal}}</td>
        <td style="text-align: right; border-right: 1px solid #aaa;">{{classifica_utente.DifferenzeGoal}}</td>
      </tr>
    </table>
  </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
