<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 80px; float: left;">
      <img *ngIf="ModalitaConcorso != 'Controllato'" class="immagineIcona" style="margin-left: 5px;" title="Controlla Concorso"
        src="../../assets/Immagini/controllo.png" (click)="controllaConcorso()" />
      <img *ngIf="ModalitaConcorso != 'Controllato' && arrivatiDati" class="immagineIcona" style="margin-left: 5px;" title="Chiude Concorso"
        src="../../assets/Immagini/invia.png" (click)="chiudeConcorso()" />
    </div>
    <div class="scritta" style="width: calc(100% - 125px); overflow: hidden; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Controllo concorso Anno {{idAnno}} - {{DescrizioneAnno}} Concorso {{NumeroConcorso}}
    </div>
  </div>
  <div class="contenitoreInterno">
    <div style="width: 100%; float: left; height: 30px; border: 1px solid #999;">
      <div style="width: 20%; float: left; text-align: center;">
        <img class="immagineIcona" style="margin-left: 5px;" title="Controlla Concorso"
          src="../../assets/Immagini/indietro.png" (click)="indietreggia()" />
      </div>
      <!-- <div style="width: 20%; float: left; text-align: center">
        <img class="immagineIcona" style="margin-left: 5px;" title="Controlla Concorso"
          src="../../assets/Immagini/visualizza.png" (click)="svela()" /> &nbsp;
      </div> -->
      <div style="width: 60%; overflow: hidden; float: left; text-align: center; margin-top: 5px;" (click)="svela()">
        <span class="scritta" style="font-weight: bold; white-space: nowrap;">{{mancanti}}</span>
      </div>
      <div style="width: 20%; float: left; text-align: center">
        <img class="immagineIcona" style="margin-left: 5px;" title="Controlla Concorso"
          src="../../assets/Immagini/avanti.png" (click)="avanza()" />
      </div>
    </div>

    <div *ngFor="let risultato of risultati2; let i = index" [attr.data-index]="i"
      [style.background-color]="ritornaColoreBarra(risultato)" style="float: left; width: 99%; overflow: auto;">

      <div class="rigaGenerale">
        <!-- <div>
        </div> -->
        <div class="rigaIntestazione scritta">
          Posizione: <span *ngIf="risultato.idUtente > -1" style="font-weight: bold;">{{quanti - risultato.Posizione}}</span>
          Punti Totali: <span *ngIf="risultato.idUtente > -1" style="font-weight: bold;">{{risultato.PuntiTotali}}</span>
          <span *ngIf="risultato.idUtente == -1"  style="font-weight: bold;">XX</span>
          Utente:
          <span style="font-weight: bold;">{{risultato.NickName}}</span>
        </div>
        <div style="text-align: right; margin-top: -6px;">
          <img class="immagineGiocatore" title="{{risultato.NickName}}"
            [src]="risultato.Avatar" (error)="variabiliGlobali.handleMissingImage($event)" />
          <img *ngIf="risultato.idUtente > -1" class="immagineIcona" style="width: 45px; height: 45px; margin-left: 5px;" title="Mostra dettaglio"
            src="../../assets/Immagini/dettaglio.png" (click)="risultato.Espanso = !risultato.Espanso" />
        </div>
      </div>
      <div *ngIf="risultato.Espanso == true" class="dettaglio scritta">
        <table style="width: 100%;">
          <tr>
            <th style="border-right: 1px solid #aaa;">N°</th>
            <th style="border-right: 1px solid #aaa;">Squadra 1</th>
            <th style="border-right: 1px solid #aaa;">Squadra 2</th>
            <th style="border-right: 1px solid #aaa;">Risultato</th>
            <th style="border-right: 1px solid #aaa;">Segno</th>
            <th style="border-right: 1px solid #aaa;">Pronostico</th>
            <th style="border-right: 1px solid #aaa;">Pron. Segno</th>
            <th style="border-right: 1px solid #aaa;">Segni</th>
            <th style="border-right: 1px solid #aaa;">Ris.Es.</th>
            <th style="border-right: 1px solid #aaa;">G. Casa</th>
            <th style="border-right: 1px solid #aaa;">G. Fuori</th>
            <th style="border-right: 1px solid #aaa;">Somma</th>
            <th style="border-right: 1px solid #aaa;">Diff.</th>
            <th>Punti</th>
            <th>Jolly</th>
            <th>P.Sc.</th>
          </tr>
          <tr *ngFor="let partita of risultato.Dettaglio; let i2 = index" [attr.data-index]="i2"
            [style.background-color]="partita.Pari ? '#cecefd' : 'transparent'">
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.idPartita}}</td>
            <td style="text-align: left; border-right: 1px solid #aaa;">{{partita.Squadra1}}</td>
            <td style="text-align: left; border-right: 1px solid #aaa;">{{partita.Squadra2}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.Risultato}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.Segno}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.Pronostico}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.PronosticoSegno}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.SegnoPreso == 1 ? 'O' : '-'}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.RisultatoEsatto == 1 ? 'O' : '-'}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.RisultatoCasaTot == 1 ? 'O' : '-'}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.RisultatoFuoriTot == 1 ? 'O' : '-'}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.SommaGoal == 1 ? 'O' : '-'}}</td>
            <td style="text-align: center; border-right: 1px solid #aaa;">{{partita.DifferenzaGoal == 1 ? 'O' : '-'}}</td>
            <td style="text-align: right;">{{partita.Punti}}</td>
            <td style="text-align: right;">{{partita.Jolly}}</td>
            <td style="text-align: right;">{{partita.PuntiPartitaScelta}}</td>
          </tr>
          <tr>
            <td colspan="13" style="text-align: right;">Squadra per '23 Aiutame Te': {{risultato.Squadra23}}</td>
            <td style="text-align: right;">{{risultato.Punti23}}</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style="text-align: right;">{{risultato.PuntiTotali}}</td>
            <td style="text-align: right;">{{risultato.PuntiTotaliJolly}}</td>
            <td style="text-align: right;">{{risultato.PuntiTotaliPartitaScelta}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
