<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 80px; float: left;">
      <img *ngIf="tastoSalvataggio" class="immagineIcona" style="margin-left: 5px;" title="Salva Pronostico"
        src="../../assets/Immagini/save.png" (click)="salvaPronostico()" />
      <span *ngIf="!tastoSalvataggio">&nbsp;</span>
      <img class="immagineIcona" style="margin-left: 5px;" title="Crea Random"
        src="../../assets/Immagini/random.png" (click)="creaRandom()" />
    </div>
    <div class="scritta" style="width: calc(100% - 80px); overflow: hidden; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Anno {{idAnno2}} - {{DescrizioneAnno}} Concorso {{NumeroConcorso2}} Partite {{partite.length}}
    </div>
  </div>
  <div class="contenitoreInterno scritta">
    <table style="min-width: 100%;">
      <tr>
        <!-- <th>
          N°
        </th> -->
        <th>
          &nbsp;
        </th>
        <th>
          Casa
        </th>
        <th>

        </th>
        <th>
          Fuori
        </th>
        <th>
          Ris. Casa
        </th>
        <th>
          Ris. Fuori
        </th>
        <th>
          Segno
        </th>
        <th>
          Jolly
        </th>
        <th>
          Scelta
        </th>
      </tr>
      <tr *ngFor="let partita of partite; let i = index" [attr.data-index]="i" class="scritta"
        [style.background-color]="partita.Pari ? '#cecefd' : 'transparent'"
        style="border-bottom: 1px solid #999;">
        <!-- <td style="text-align: center;">
          {{partita.idPartita}}
        </td> -->
        <td>
          <img class="immagineSquadra" title="{{partita.Prima}}"
            [src]="partita.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>
          {{partita.Prima}}
        </td>
        <td>
          <img class="immagineSquadra" title="{{partita.Seconda}}"
            [src]="partita.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>
          {{partita.Seconda}}
        </td>
        <td style="text-align: center;">
          <input id="pronCasa_{{i}}" type="number" min="0" max="50" [(ngModel)]="partita.Risultato1" class="scritta" style="width: 30px;" (keypress)="handleKey1(i, $event)">
        </td>
        <td style="text-align: center;">
          <input id="pronFuori_{{i}}" type="number" min="0" max="50" [(ngModel)]="partita.Risultato2" class="scritta" style="width: 30px;" (keypress)="handleKey2(i, $event)">
        </td>
        <td style="text-align: center;">
          {{partita.Segno}}
        </td>
        <td style="text-align: center;">
          <img *ngIf="partita.Jolly" class="immagineIcona" title="Partita Jolly"
            src="../../assets/Immagini/joker.png" />
          <span *ngIf="!partita.Jolly">&nbsp;</span>
        </td>
        <td style="text-align: center;">
          <input type="checkbox" [checked]="partita.idPartitaScelta" (change)="clickSuPartitaScelta(i)"/>
        </td>
      </tr>
    </table>
<!--
    <div class="rigaIncontro scritta" style="font-weight: bold;">
      <div style="width: 5%; float: left; margin-top: 10px;">N°</div>
      <div style="width: 35px; float: left;">&nbsp;</div>
      <div style="width: calc(27% - 35px); float: left; margin-top: 10px;">Casa</div>
      <div style="width: 35px; float: left;">&nbsp;</div>
      <div style="width: calc(27% - 35px); float: left; margin-top: 10px;">Fuori</div>
      <div style="width: 21%; float: left; margin-top: 10px; text-align: center;">Risultato</div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">Segno</div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">J.</div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">Sc.</div>
    </div>
    <div *ngFor="let partita of partite; let i = index" [attr.data-index]="i" class="rigaIncontro scritta"
      [style.background-color]="partita.Pari ? '#cecefd' : 'transparent'"
      style="border-bottom: 1px solid #999;">
      <div style="width: 5%; float: left; margin-top: 10px;">{{partita.idPartita}}</div>

      <div style="width: 35px; float: left;">
        <img class="immagineSquadra" title="{{partita.Prima}}"
          [src]="partita.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
      </div>
      <div style="width: calc(27% - 35px); float: left; margin-top: 10px;">
        <span class="scritta" style="margin-left: 5px;">{{partita.Prima}}</span>
      </div>

      <div style="width: 35px; float: left;">
        <img class="immagineSquadra" title="{{partita.Seconda}}"
          [src]="partita.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
      </div>
      <div style="width:  calc(27% - 35px); float: left; margin-top: 10px;">
        <span class="scritta" style="margin-left: 5px;">{{partita.Seconda}}</span>
      </div>

      <div style="width: 21%; float: left; margin-top: 10px; text-align: center;">
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato1" class="scritta" style="width: 20%;" (keypress)="handleKey1(i, $event)">
        -
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato2" class="scritta" style="width: 20%;" (keypress)="handleKey2(i, $event)">
      </div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">{{partita.Segno}}</div>

      <div style="width: 5%; float: left;">
        <img *ngIf="partita.Jolly" class="immagineIcona" title="Partita Jolly"
          src="../../assets/Immagini/joker.png" />
        <span *ngIf="!partita.Jolly">&nbsp;</span>
      </div>

      <div style="width: 5%; float: left; margin-top: 9px; text-align: center;">
        <input type="checkbox" [checked]="partita.idPartitaScelta" (change)="clickSuPartitaScelta(i)"/>
      </div>
    </div>
  </div>
-->
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
