.finestra {
  margin-top: 2px;
  margin-left: 2px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  opacity: .85;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
  float: right;
}

th {
  padding: 5px;
  white-space: nowrap;
}

td {
  padding: 5px;
}

.chiusura {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 30px;
  background-repeat: no-repeat;
  height: 30px;
  background-size: contain;
  background-image: url('../../assets/Immagini/chiusura.png');
  cursor: pointer;
}

.barraSuperiore {
  width: 100%;
  float: left;
  height: 40px;
}

.contenitoreInterno {
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
}

.immagineIcona {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.scritta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.rigaIncontro {
  width: auto;
  height: 35px;
  float: left;
}

.immagineSquadra {
  width: 35px;
  height: 35px;
  cursor: pointer;
  /* filter: grayscale(1); */
}

/* Chrome, Safari, Edge, Opera
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
 */

 .statistiche {
  position: absolute;
  left: 55%;
  top: 50%;
  width: auto;
  height: 80%;
  overflow: hidden;
  max-width: 80%;
  max-height: 80%;
  border: 1px solid #999;
  background-color: #fffdc1;
  border-radius: 3px;
  transform: translate(-50%, -50%);
  padding: 3px;
 }
