<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 120px; float: left;">
      <img *ngIf="tastoSalvataggio" class="immagineIcona" style="margin-left: 5px;" title="Salva Pronostico"
        src="../../assets/Immagini/save.png" (click)="salvaPronostico()" />
      <span *ngIf="!tastoSalvataggio">&nbsp;</span>
      <img class="immagineIcona" style="margin-left: 5px;" title="Crea Random"
        src="../../assets/Immagini/random.png" (click)="creaRandom()" />
      <img class="immagineIcona" style="margin-left: 5px;" title="Statistiche"
        src="../../assets/Immagini/statistiche.png" (click)="ritornaStatistichePartite()" />
    </div>
    <div class="scritta" style="width: calc(100% - 160px); overflow: hidden; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Anno {{idAnno2}} - {{DescrizioneAnno}} Concorso {{NumeroConcorso2}} Partite {{partite.length}}
    </div>
  </div>
  <div class="contenitoreInterno scritta">
    <table style="min-width: 100%;">
      <tr>
        <!-- <th>
          N°
        </th> -->
        <th>
          &nbsp;
        </th>
        <th>
          &nbsp;
        </th>
        <th>
          Casa
        </th>
        <th>

        </th>
        <th>
          Fuori
        </th>
        <th>
          Ris. Casa
        </th>
        <th>
          Ris. Fuori
        </th>
        <th>
          Segno
        </th>
        <th>
          Jolly
        </th>
        <th>
          Scelta
        </th>
      </tr>
      <tr *ngFor="let partita of partite; let i = index" [attr.data-index]="i" class="scritta"
        [style.background-color]="partita.Pari ? '#cecefd' : 'transparent'"
        style="border-bottom: 1px solid #999;">
        <!-- <td style="text-align: center;">
          {{partita.idPartita}}
        </td> -->
        <td style="text-align: center;">
          <img class="immagineSquadra" title="Statistiche Squadre"
            (click)="leggeStatistichePartita(partita)"
            src="../../assets/Immagini/simulazione.png" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
       <td style="text-align: center;">
          <img class="immagineSquadra" title="{{partita.Prima}}"
            [src]="partita.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>
          {{partita.Prima}}
        </td>
        <td style="text-align: center;">
          <img class="immagineSquadra" title="{{partita.Seconda}}"
            [src]="partita.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>
          {{partita.Seconda}}
        </td>
        <td style="text-align: center;">
          <input id="pronCasa_{{i}}" type="number" min="0" max="50" [(ngModel)]="partita.Risultato1" class="scritta" style="width: 30px;" (keypress)="handleKey1(i, $event)">
        </td>
        <td style="text-align: center;">
          <input id="pronFuori_{{i}}" type="number" min="0" max="50" [(ngModel)]="partita.Risultato2" class="scritta" style="width: 30px;" (keypress)="handleKey2(i, $event)">
        </td>
        <td style="text-align: center;">
          {{partita.Segno}}
        </td>
        <td style="text-align: center;">
          <img *ngIf="partita.Jolly" class="immagineIcona" title="Partita Jolly"
            src="../../assets/Immagini/joker.png" />
          <span *ngIf="!partita.Jolly">&nbsp;</span>
        </td>
        <td style="text-align: center;">
          <input type="checkbox" [checked]="partita.idPartitaScelta" (change)="clickSuPartitaScelta(i)"/>
        </td>
      </tr>
    </table>
<!--
    <div class="rigaIncontro scritta" style="font-weight: bold;">
      <div style="width: 5%; float: left; margin-top: 10px;">N°</div>
      <div style="width: 35px; float: left;">&nbsp;</div>
      <div style="width: calc(27% - 35px); float: left; margin-top: 10px;">Casa</div>
      <div style="width: 35px; float: left;">&nbsp;</div>
      <div style="width: calc(27% - 35px); float: left; margin-top: 10px;">Fuori</div>
      <div style="width: 21%; float: left; margin-top: 10px; text-align: center;">Risultato</div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">Segno</div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">J.</div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">Sc.</div>
    </div>
    <div *ngFor="let partita of partite; let i = index" [attr.data-index]="i" class="rigaIncontro scritta"
      [style.background-color]="partita.Pari ? '#cecefd' : 'transparent'"
      style="border-bottom: 1px solid #999;">
      <div style="width: 5%; float: left; margin-top: 10px;">{{partita.idPartita}}</div>

      <div style="width: 35px; float: left;">
        <img class="immagineSquadra" title="{{partita.Prima}}"
          [src]="partita.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
      </div>
      <div style="width: calc(27% - 35px); float: left; margin-top: 10px;">
        <span class="scritta" style="margin-left: 5px;">{{partita.Prima}}</span>
      </div>

      <div style="width: 35px; float: left;">
        <img class="immagineSquadra" title="{{partita.Seconda}}"
          [src]="partita.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
      </div>
      <div style="width:  calc(27% - 35px); float: left; margin-top: 10px;">
        <span class="scritta" style="margin-left: 5px;">{{partita.Seconda}}</span>
      </div>

      <div style="width: 21%; float: left; margin-top: 10px; text-align: center;">
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato1" class="scritta" style="width: 20%;" (keypress)="handleKey1(i, $event)">
        -
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato2" class="scritta" style="width: 20%;" (keypress)="handleKey2(i, $event)">
      </div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">{{partita.Segno}}</div>

      <div style="width: 5%; float: left;">
        <img *ngIf="partita.Jolly" class="immagineIcona" title="Partita Jolly"
          src="../../assets/Immagini/joker.png" />
        <span *ngIf="!partita.Jolly">&nbsp;</span>
      </div>

      <div style="width: 5%; float: left; margin-top: 9px; text-align: center;">
        <input type="checkbox" [checked]="partita.idPartitaScelta" (change)="clickSuPartitaScelta(i)"/>
      </div>
    </div>
  </div>
-->
</div>

<div *ngIf="statisticheVisibile" class="statistiche scritta">
  <div style="width: calc(100% - 40px); height: 40px; float: left; font-weight: bold;">
    Statistiche
  </div>
  <div style="width: 40px; height: 40px; text-align: right; float: left;">
    <img class="immagineIcona" title="Chiude" (click)="statisticheVisibile = false"
      src="../../assets/Immagini/chiusura.png" />
  </div>
  <hr />
  <div style="overflow: auto; width: 100%; height: calc(100% - 50px); float: left;">
    <table style="width: 100%">
      <tr>
        <th>

        </th>
        <th>
          Casa
        </th>
        <th>

        </th>
        <th>
          Fuori
        </th>
        <th>
          Segno
        </th>
        <th>
          Quanti
        </th>
        <th>
          Perc.
        </th>
        <th>
          Ris. Più Gioc.
        </th>
        <th>
          Volte
        </th>
        <th>
          Ris. Meno Gioc.
        </th>
        <th>
          Volte
        </th>
      </tr>
      <tr *ngFor="let stat of statistiche; let i = index" [attr.data-index]="i" class="scritta"
        [style.background-color]="stat.Pari ? '#dfd773' : 'transparent'"
        style="border-bottom: 1px solid #999;">
        <td>
          <img class="immagineSquadra" title="{{stat.Casa}}"
            [src]="stat.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>{{stat.Casa}}</td>
        <td>
          <img class="immagineSquadra" title="{{stat.Fuori}}"
            [src]="stat.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>{{stat.Fuori}}</td>
        <td style="text-align: center;">{{stat.Segno}}</td>
        <td style="text-align: center;">{{stat.QuantiSegni}}</td>
        <td style="text-align: center;">{{stat.Percentuale}}</td>
        <td style="text-align: center;">{{stat.RisultatoPiuGiocato}}</td>
        <td style="text-align: center;">{{stat.RisPiuGiocatoQuante}}</td>
        <td style="text-align: center;">{{stat.RisultatoMenoGiocato}}</td>
        <td style="text-align: center;">{{stat.RisMenoGiocatoQuante}}</td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="statistichePartitaVisibile" class="statistiche1 scritta">
  <div style="width: calc(100% - 40px); height: 40px; float: left; font-weight: bold; text-align: center;">
    Statistiche {{squadraCasa}}
  </div>
  <div style="width: 40px; height: 40px; text-align: right; float: left;">
    <img class="immagineIcona" title="Chiude" (click)="statistichePartitaVisibile = false"
      src="../../assets/Immagini/chiusura.png" />
  </div>
  <hr />
  <div style="overflow: auto; width: 100%; height: calc(100% - 50px); float: left;">
    <table style="width: 100%">
      <tr>
        <th>
          Giornata
        </th>
        <th>

        </th>
        <th>
          Casa
        </th>
        <th>

        </th>
        <th>
          Fuori
        </th>
        <th>
          Risultato
        </th>
        <th>
          Segno
        </th>
      </tr>
      <tr *ngFor="let stat of lista1; let i = index" [attr.data-index]="i" class="scritta"
        [style.background-color]="stat.Pari ? '#dfd773' : 'transparent'"
        style="border-bottom: 1px solid #999;">
        <td style="text-align: center;">{{stat.idGiornata}}</td>
        <td>
          <img class="immagineSquadra" title="{{stat.Casa}}"
            [src]="stat.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>{{stat.Casa}}</td>
        <td>
          <img class="immagineSquadra" title="{{stat.Fuori}}"
            [src]="stat.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>{{stat.Fuori}}</td>
        <td style="text-align: center;">{{stat.Risultato}}</td>
        <td style="text-align: center;">{{stat.Segno}}</td>
      </tr>
    </table>
    <hr />
    <table style="width: 100%">
      <tr>
        <th>Giocate</th>
        <th>Punti</th>
        <th>Vittorie</th>
        <th>Pareggi</th>
        <th>Sconfitte</th>
        <th>Goal Fatti</th>
        <th>Goal Subiti</th>
      </tr>
      <tr>
        <th colspan="6" style="text-align: center;">GENERALE</th>
      </tr>
      <tr>
        <td style="text-align: center;">{{statistiche1.Giocate}}</td>
        <td style="text-align: center;">{{statistiche1.Punti}}</td>
        <td style="text-align: center;">{{statistiche1.Vittorie}}</td>
        <td style="text-align: center;">{{statistiche1.Pareggi}}</td>
        <td style="text-align: center;">{{statistiche1.Sconfitte}}</td>
        <td style="text-align: center;">{{statistiche1.GoalFatti}}</td>
        <td style="text-align: center;">{{statistiche1.GoalSubiti}}</td>
      </tr>
      <tr>
        <th colspan="6" style="text-align: center;">CASA</th>
      </tr>
      <tr>
        <td style="text-align: center;">{{statistiche1.GiocateCasa}}</td>
        <td style="text-align: center;">{{statistiche1.PuntiCasa}}</td>
        <td style="text-align: center;">{{statistiche1.VittorieCasa}}</td>
        <td style="text-align: center;">{{statistiche1.PareggiCasa}}</td>
        <td style="text-align: center;">{{statistiche1.SconfitteCasa}}</td>
        <td style="text-align: center;">{{statistiche1.GoalFattiCasa}}</td>
        <td style="text-align: center;">{{statistiche1.GoalSubitiCasa}}</td>
      </tr>
      <tr>
        <th colspan="6" style="text-align: center;">FUORI</th>
      </tr>
      <tr>
        <td style="text-align: center;">{{statistiche1.GiocateFuori}}</td>
        <td style="text-align: center;">{{statistiche1.PuntiFuori}}</td>
        <td style="text-align: center;">{{statistiche1.VittorieFuori}}</td>
        <td style="text-align: center;">{{statistiche1.PareggiFuori}}</td>
        <td style="text-align: center;">{{statistiche1.SconfitteFuori}}</td>
        <td style="text-align: center;">{{statistiche1.GoalFattiFuori}}</td>
        <td style="text-align: center;">{{statistiche1.GoalSubitiFuori}}</td>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="statistichePartitaVisibile" class="statistiche2 scritta">
  <div style="width: calc(100% - 40px); height: 40px; float: left; font-weight: bold; text-align: center;">
    Statistiche {{squadraFuori}}
  </div>
  <div style="width: 40px; height: 40px; text-align: right; float: left;">
    <img class="immagineIcona" title="Chiude" (click)="statistichePartitaVisibile = false"
      src="../../assets/Immagini/chiusura.png" />
  </div>
  <hr />
  <table style="width: 100%">
    <tr>
      <th>
        Giornata
      </th>
      <th>

      </th>
      <th>
        Casa
      </th>
      <th>

      </th>
      <th>
        Fuori
      </th>
      <th>
        Risultato
      </th>
      <th>
        Segno
      </th>
    </tr>
    <tr *ngFor="let stat of lista2; let i = index" [attr.data-index]="i" class="scritta"
      [style.background-color]="stat.Pari ? '#dfd773' : 'transparent'"
      style="border-bottom: 1px solid #999;">
      <td style="text-align: center;">{{stat.idGiornata}}</td>
      <td>
        <img class="immagineSquadra" title="{{stat.Casa}}"
          [src]="stat.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
      </td>
      <td>{{stat.Casa}}</td>
      <td>
        <img class="immagineSquadra" title="{{stat.Fuori}}"
          [src]="stat.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
      </td>
      <td>{{stat.Fuori}}</td>
      <td style="text-align: center;">{{stat.Risultato}}</td>
      <td style="text-align: center;">{{stat.Segno}}</td>
    </tr>
  </table>
  <hr />
  <table style="width: 100%">
    <tr>
      <th>Giocate</th>
      <th>Punti</th>
      <th>Vittorie</th>
      <th>Pareggi</th>
      <th>Sconfitte</th>
      <th>Goal Fatti</th>
      <th>Goal Subiti</th>
    </tr>
    <tr>
      <th colspan="6" style="text-align: center;">GENERALE</th>
    </tr>
    <tr>
      <td style="text-align: center;">{{statistiche2.Giocate}}</td>
      <td style="text-align: center;">{{statistiche2.Punti}}</td>
      <td style="text-align: center;">{{statistiche2.Vittorie}}</td>
      <td style="text-align: center;">{{statistiche2.Pareggi}}</td>
      <td style="text-align: center;">{{statistiche2.Sconfitte}}</td>
      <td style="text-align: center;">{{statistiche2.GoalFatti}}</td>
      <td style="text-align: center;">{{statistiche2.GoalSubiti}}</td>
    </tr>
    <tr>
      <th colspan="6" style="text-align: center;">CASA</th>
    </tr>
    <tr>
      <td style="text-align: center;">{{statistiche2.GiocateCasa}}</td>
      <td style="text-align: center;">{{statistiche2.PuntiCasa}}</td>
      <td style="text-align: center;">{{statistiche2.VittorieCasa}}</td>
      <td style="text-align: center;">{{statistiche2.PareggiCasa}}</td>
      <td style="text-align: center;">{{statistiche2.SconfitteCasa}}</td>
      <td style="text-align: center;">{{statistiche2.GoalFattiCasa}}</td>
      <td style="text-align: center;">{{statistiche2.GoalSubitiCasa}}</td>
    </tr>
    <tr>
      <th colspan="6" style="text-align: center;">FUORI</th>
    </tr>
    <tr>
      <td style="text-align: center;">{{statistiche2.GiocateFuori}}</td>
      <td style="text-align: center;">{{statistiche2.PuntiFuori}}</td>
      <td style="text-align: center;">{{statistiche2.VittorieFuori}}</td>
      <td style="text-align: center;">{{statistiche2.PareggiFuori}}</td>
      <td style="text-align: center;">{{statistiche2.SconfitteFuori}}</td>
      <td style="text-align: center;">{{statistiche2.GoalFattiFuori}}</td>
      <td style="text-align: center;">{{statistiche2.GoalSubitiFuori}}</td>
    </tr>
  </table>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
