<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 50%; float: left;">
      <img *ngIf="tastoSalvataggio" class="immagineIcona" style="margin-left: 5px;" title="Salva Pronostico"
        src="../../assets/Immagini/save.png" (click)="salvaPronostico()" />
      <span *ngIf="!tastoSalvataggio">&nbsp;</span>
    </div>
    <div class="scritta" style="width: 50%; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Anno {{idAnno2}} - {{DescrizioneAnno}} Concorso {{NumeroConcorso2}} Partite {{partite.length}}
    </div>
  </div>
  <div class="contenitoreInterno">
    <div class="rigaIncontro scritta" style="font-weight: bold;">
      <div style="width: 5%; float: left; margin-top: 10px;">N°</div>
      <div style="width: 35%; float: left; margin-top: 10px;">Casa</div>
      <div style="width: 35%; float: left; margin-top: 10px;">Fuori</div>
      <div style="width: 15%; float: left; margin-top: 10px;">Risultato</div>
      <div style="width: 5%; float: left; margin-top: 10px;">Segno</div>
    </div>
    <div *ngFor="let partita of partite; let i = index" [attr.data-index]="i" class="rigaIncontro scritta">
      <div style="width: 5%; float: left; margin-top: 10px;">{{partita.idPartita}}</div>
      <div style="width: 35%; float: left; margin-top: 10px;">
        <span class="scritta">{{partita.Prima}}</span>
      </div>
      <div style="width: 35%; float: left; margin-top: 10px;">
        <span class="scritta">{{partita.Seconda}}</span>
      </div>
      <div style="width: 15%; float: left; margin-top: 10px; text-align: center;">
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato1" class="scritta" style="width: 40px;" (keypress)="handleKey1(i, $event)">
        -
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato2" class="scritta" style="width: 40px;" (keypress)="handleKey2(i, $event)">
      </div>
      <div style="width: 10%; float: left; margin-top: 10px; text-align: center;">{{partita.Segno}}</div>
    </div>
  </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
