.finestra {
  margin-top: 2px;
  margin-left: 2px;
  width: calc(100% - 8px);
  height: calc(100% - 10px);
  opacity: .85;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
  float: right;
}

th {
  padding: 5px;
  white-space: nowrap;
}

td {
  padding: 5px;
}

.chiusura {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 30px;
  background-repeat: no-repeat;
  height: 30px;
  background-size: contain;
  background-image: url('../../assets/Immagini/chiusura.png');
  cursor: pointer;
}

.barraSuperiore {
  width: 100%;
  float: left;
  height: 40px;
}

.contenitoreInterno {
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
}

.neretto {
  font-weight: bold;
}

.immagineIcona {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.scritta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.scritta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.intestazione {
  width: 100%;
  float: left;
  height: 30px;
}

.tasto {
  width: calc(50% - 15px);
  float: left;
  height: 20px;
  padding: 3px;
  border-radius: 3px;
  margin-left: 2px;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
}
.tasto:hover {
  background-color: #d9ffd1;
}

.tastoLaterale {
  width: calc(100% - 12px);
  float: left;
  height: 20px;
  padding: 3px;
  border-radius: 3px;
  margin-left: 2px;
  margin-bottom: 2px;
  border: 1px solid #999;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}
.tastoLaterale:hover {
  background-color: #d9ffd1;
}

.corpoDati {
  width: 100%;
  float: left;
  height: calc(100% - 35px);
  overflow: hidden;
  border-top: 1px solid #999;
}

.tastiLaterali {
  width: 30%;
  height: 100%;
  float: left;
}

.corpoCentrale {
  padding: 3px;
  width: calc(70% - 10px);
  border-left: 1px solid #999;
  height: 100%;
  overflow: auto;
}

.immagineGiocatore {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
