<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 50%; float: left;">
    </div>
    <div class="scritta" style="width: 50%; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Amministrazione
    </div>
  </div>
  <div class="contenitoreInterno scritta">
    <div class="riga">
      Stato concorso: {{variabiliGlobali.idModalitaConcorso}}-{{variabiliGlobali.ModalitaConcorso}}
    </div>
    <div *ngIf="inadempienti">
      <span style="font-weight: bold;">Inadempienti per il concorso attuale</span><br />
      <div *ngFor="let ina of inadempienti; let i2 = index" [attr.data-index]="i2">
        {{ina}}
      </div>
    </div>
    <div *ngIf="variabiliGlobali.idModalitaConcorso == 1" class="riga">
      <img class="immagineIcona" style="margin-left: 5px;" title="Invia promemoria"
        src="../../assets/Immagini/avviso.png" (click)="InviaPromemoria()" />
        &nbsp;Invia Promemoria per gli inadempienti
    </div>
    <div class="riga" style="margin-top: 20px;">
      <img class="immagineIcona" style="margin-left: 5px;" title="Crea utente finto"
        src="../../assets/Immagini/finto.png" (click)="creaUtenteFinto()" />
        &nbsp;Crea Utente Finto
    </div>
    <div class="riga" style="margin-top: 20px;">
      <img class="immagineIcona" style="margin-left: 5px;" title="Creazione nuovo anno"
        src="../../assets/Immagini/nuovo_concorso.png" (click)="CreazioneNuovoAnno()" />
        &nbsp;Creazione nuovo anno
    </div>
    <div class="riga" style="margin-top: 20px;">
      <img class="immagineIcona" style="margin-left: 5px;" title="Effettua backup"
        src="../../assets/Immagini/backup.png" (click)="effettuaBackup()" />
        &nbsp;Backup
    </div>
    <div class="riga" style="margin-top: 20px;">
      <img class="immagineIcona" style="margin-left: 5px;" title="Effettua backup"
        src="../../assets/Immagini/restore.png" (click)="effettuaRestore()" />
        &nbsp;Restore
    </div>
  </div>
</div>

<div *ngIf="visualizzaRestore" class="listaRestore scritta">
  <div style="width: calc(100% - 40px); float: left; font-weight: bold;">Lista Backups</div>
  <div style="width: 40px; float: left;">
    <img class="immagineIcona" style="margin-left: 5px;" title="Chiude maschera"
      src="../../assets/Immagini/chiusura.png" (click)="visualizzaRestore = false;" />
  </div>
  <hr />
  <table style="width: 100%;">
    <tr>
      <th></th>
      <th>Id</th>
      <th>Data</th>
    </tr>
    <tr *ngFor="let r of restore; let i2 = index" [attr.data-index]="i2"
      [style.background-color]="r.Pari ? '#cecefd' : 'transparent'">
      <td>
        <img class="immagineIcona" style="margin-left: 5px;" title="Sceglie Backup"
          src="../../assets/Immagini/invia.png" (click)="effettuaRestore2(r)" />
      </td>
      <td style="text-align: center;">
        {{r.idBackup}}
      </td>
      <td>
        {{r.Data}}
      </td>
    </tr>
  </table>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
