<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 50%; float: left;">
    </div>
    <div class="scritta" style="width: 50%; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Amministrazione
    </div>
  </div>
  <div class="contenitoreInterno scritta">
    <div class="riga">
      Stato concorso: {{variabiliGlobali.idModalitaConcorso}}-{{variabiliGlobali.ModalitaConcorso}}
    </div>
    <div *ngIf="variabiliGlobali.idModalitaConcorso == 1" class="riga">
      <img class="immagineIcona" style="margin-left: 5px;" title="Invia promemoria"
        src="../../assets/Immagini/avviso.png" (click)="InviaPromemoria()" />
        &nbsp;Invia Promemoria per gli inadempienti
    </div>
    <div class="riga" style="margin-top: 10px;">
      <img class="immagineIcona" style="margin-left: 5px;" title="Creazione nuovo anno"
        src="../../assets/Immagini/nuovo_concorso.png" (click)="CreazioneNuovoAnno()" />
        &nbsp;Creazione nuovo anno
    </div>
  </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
