<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 50%; float: left;">
    </div>
    <div class="scritta" style="width: 50%; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Vincitori alla giornata {{variabiliGlobali.idConcorso}}<br />Montepremi: €{{montePremi}}
    </div>
  </div>
  <div class="contenitoreInterno scritta" style="font-size: 16px;">
    <table style="min-width: 100%;">
      <tr>
        <th></th>
        <th>Trofeo</th>
        <th></th>
        <th>Vincitore</th>
        <th>Perc.</th>
        <th>Vincita</th>
      </tr>
      <tr *ngFor="let vincitore of vincitori; let i2 = index" [attr.data-index]="i2"
        [style.background-color]="vincitore.Pari ? '#cecefd' : 'transparent'"
        style="border-bottom: 1px solid #999; margin-top: 5px;">
        <td>
          <img class="immagineSquadra" title="{{vincitore.Vincitore}}" style="width: 70px; height: 70px;"
            [src]="vincitore.ImmagineCoppa" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>
          {{vincitore.Trofeo}}
        </td>
        <td>
          <img class="immagineSquadra" title="{{vincitore.Vincitore}}"
            [src]="vincitore.ImmagineGiocatore" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td>
          {{vincitore.Vincitore}}
        </td>
        <td style="text-align: right;">
          {{vincitore.Percentuale}}
        </td>
        <td style="text-align: right;">
          {{vincitore.Vincita}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
