.finestra {
  position: absolute;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  opacity: .75;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
  margin-left: -24%;
  margin-top: -16%;
  -webkit-box-shadow: 0px 3px 7px -4px #545454;
  -moz-box-shadow: 0px 3px 7px -4px #545454;
  -o-box-shadow: 0px 3px 7px -4px #545454;
  box-shadow: 0px 3px 7px -4px #545454;
  z-index: 50;
}

.chiusura {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 30px;
  background-repeat: no-repeat;
  height: 30px;
  background-size: contain;
  background-image: url('../../assets/Immagini/chiusura.png');
  cursor: pointer;
}

.barraSuperiore {
  width: 100%;
  float: left;
  height: 40px;
}

.contenitoreInterno {
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 40px;
  overflow: auto;
}

.immagineIcona {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.immagineGiocatore {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.scritta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.rigaGenerale {
  width: calc(100% - 6px);
  height: 40px;
  border: 1px solid #999;
  margin: 3px;
  background-color: #ffcece;
  margin-top: 5px;
  border-radius: 5px;
}

.rigaIntestazione {
  width: calc(90% - 5px);
  float: left;
  font-size: 16px;
  margin-top: 9px;
  margin-left: 5px;
}

.dettaglio {
  width: calc(100% - 6px);
  border: 1px solid #999;
  background-color: #c4ddf3;
  height: auto;
  margin-top: -2px;
  border-radius: 5px;
  margin-left: 3px;
}
