<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 50%; float: left;">
    </div>
    <div class="scritta" style="width: 50%; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Info
    </div>
  </div>
  <div class="contenitoreInterno scritta">
    <span class="neretto scrittaGrande">GENERALE</span><hr />
    Come prima cosa bisognerà registrarsi tramite l'icona apposita in alto a destra&nbsp;
    <img class="immagineIcona" title="Partita Jolly"
      src="../../assets/Immagini/signin.png" />
    . Inserire i propri dati compresa una mail valida altrimenti
    non si riceveranno le varie notifiche dal sistema e ultizzare l'icona di salvataggio
    <img class="immagineIcona" title="Partita Jolly"
      src="../../assets/Immagini/save.png" />
    .<br/>
    Terminata la registrazione sarà possibile eseguire il login tramite l'icona
    <img class="immagineIcona" title="Partita Jolly"
      src="../../assets/Immagini/login.png" />.<br /><br />
    <span class="neretto">Ogni operazione importante verrà comunicata anche via mail. Se non doveste riceverne, andate a vedere nella
    sezione spam del vostro provider di posta.</span><br />
    <br /><hr /><span class="neretto scrittaGrande">PRONOSTICI</span><hr />
    <span class="scritta">
    Scopo del gioco sarà quello di fare più punti possibili pronosticando i risultati esatti delle partite
    inserite per il concorso.<br />
    Il concorso verrà aperto dall'amministratore e avrà una data di scadenza oltre la quale non sarà
    più possibile compilare la propria colonna. Chi non effettuerà il pronostico non parteciperà
    al concorso e non otterrà quindi punti vitali sia per la classifica finale che per i vari tornei.<br />
    Per ottenere punti ci sono vari modi:</span><br /><br />
    <table cellpadding="1" cellspacing="1">
      <tr>
        <th>
          Partite
        </th>
        <th>

        </th>
        <th>
          Jolly
        </th>
        <th>

        </th>
        <th>
          Partita Scelta
        </th>
      </tr>
      <tr>
        <td>
          <table>
            <tr>
              <th>
                Tipologia
              </th>
              <th>
                Punti
              </th>
            </tr>
            <tr>
              <td>
                Segno (1/X/2)
              </td>
              <td style="text-align: right;">
                5
              </td>
            </tr>
            <tr>
              <td>
                Risultato Esatto
              </td>
              <td style="text-align: right;">
                10
              </td>
            </tr>
            <tr>
              <td>
                Goal Casa
              </td>
              <td style="text-align: right;">
                3
              </td>
            </tr>
            <tr>
              <td>
                Goal Fuori
              </td>
              <td style="text-align: right;">
                3
              </td>
            </tr>
            <tr>
              <td>
                Somma Goal
              </td>
              <td style="text-align: right;">
                2
              </td>
            </tr>
            <tr>
              <td>
                Differenza Goal
              </td>
              <td style="text-align: right;">
                2
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td style="text-align: right;">
                25
              </td>
            </tr>
          </table>
        </td>
        <td style="width: 20px;">

        </td>
        <td style="margin-left: 1px solid #999;">
          <table>
            <tr>
              <th>
                Tipologia
              </th>
              <th>
                Punti
              </th>
            </tr>
            <tr>
              <td>
                Segno (1/X/2)
              </td>
              <td style="text-align: right;">
                3
              </td>
            </tr>
            <tr>
              <td>
                Risultato Esatto
              </td>
              <td style="text-align: right;">
                8
              </td>
            </tr>
            <tr>
              <td>
                Goal Casa
              </td>
              <td style="text-align: right;">
                2
              </td>
            </tr>
            <tr>
              <td>
                Goal Fuori
              </td>
              <td style="text-align: right;">
                2
              </td>
            </tr>
            <tr>
              <td>
                Somma Goal
              </td>
              <td style="text-align: right;">
                1
              </td>
            </tr>
            <tr>
              <td>
                Differenza Goal
              </td>
              <td style="text-align: right;">
                1
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td style="text-align: right;">
                17
              </td>
          </table>
        </td>
        <td style="width: 20px;">

        </td>
        <td style="margin-left: 1px solid #999;">
          <table>
            <tr>
              <th>
                Tipologia
              </th>
              <th>
                Punti
              </th>
            </tr>
            <tr>
              <td>
                Segno (1/X/2)
              </td>
              <td style="text-align: right;">
                5
              </td>
            </tr>
            <tr>
              <td>
                Risultato Esatto
              </td>
              <td style="text-align: right;">
                7
              </td>
            </tr>
            <tr>
              <td>
                Goal Casa
              </td>
              <td style="text-align: right;">
                4
              </td>
            </tr>
            <tr>
              <td>
                Goal Fuori
              </td>
              <td style="text-align: right;">
                4
              </td>
            </tr>
            <tr>
              <td>
                Somma Goal
              </td>
              <td style="text-align: right;">
                2
              </td>
            </tr>
            <tr>
              <td>
                Differenza Goal
              </td>
              <td style="text-align: right;">
                2
              </td>
            </tr>
            <tr>
              <td>

              </td>
              <td style="text-align: right;">
                24
              </td>
          </table>
        </td>
      </tr>
    </table>
    <br />
    I punti <span class="neretto">Jolly</span> sono legati alla <span class="neretto">partita jolly</span>.
    In ogni concorso comparirà una icona sulla destra delle
    partite &nbsp;
    <img class="immagineIcona" title="Partita Jolly"
      src="../../assets/Immagini/joker.png" />
    che sta a significare che quella è una partita speciale scelta dal server. Prendere punti
    per quella partita darà diritto a dei punti in più come in tabella.
    <br />
    <br />
    La <span class="neretto">partita scelta</span>, è simile alla partita jolly, ma in questo caso
    sarà il giocatore a scegliere quale partita impostare tramite la check sulla destra della
    partita. Ovviamente sarà possibile inserire soltanto una partita scelta.
    <br /><br /><hr />
    <span class="neretto scrittaGrande">TROFEI</span><hr />
    Al concorso sono legati anche alcuni trofei calcolati in base alle varie tipologie di punteggio
    effettuate con i pronostici. Questi trofei riconosceranno al vincitore una parte del totale della
    vincita (spiegata meglio più avanti).<br />
    Ai trofei si accederà, quando saranno aperti, in base alla posizione in classifica e al livello di importanza
    del trofeo stesso. Minore sarà l'importanza e minore dovrà essere la posizione in classifica. Per
    un livello di importanza 1, quindi, parteciperanno i giocatori che, nella giornata di creazione del trofeo, si
    troveranno in classifica dalla posizione 1.<br />
    Nel dettaglio si avranno questi trofei:<br /><br />
    <span class="neretto">TotoMIO CUP</span>: Trofeo di importanza 1 a cui partecipano 6 giocatori con girone,
    semifinale con scontro diretto e finale secca. Si ottengono punti sommando tutte le tipologie di punteggio
    (Segni, Risultato esatto, Goal Casa, Goal Fuori, Somma Goal, Differenza Goal). Il giocatore che ha il
    punteggio maggiore vince lo scontro diretto.
    <br /><br />
    <span class="neretto">23 Aiutame TE</span>: Al trofeo partecipano tutti i giocatori e dura per tutta la durata
    del gioco annuale. Alla chiusura del concorso, il server, assegnerà in maniera randomica, una squadra del
    concorso ad ogni giocatore. Il giocatore avrà tanti punti quanti ne ha fatti la squadra e questi punti
    si sommeranno per una classifica alternativa.
    <br /><br />
    <span class="neretto">Pijo CUP</span>: Trofeo di importanza 3 a cui partecipano 4 giocatori con girone
    e finale secca. I punti saranno ottenuti tramite i punti presi dal giocatore (più altre informazioni per ridurre i pareggi)
    in quella giornata.
    <br /><br />
    <span class="neretto">Pippa League</span>: (Il vecchio Pippettero) Trofeo di importanza 5 a cui partecipano
    6 giocatori senza semifinale e finale. I punti saranno ottenuti con la somma dei goal presi e subiti dal giocatore
    in quella particolare giornata ma la stranezza di questo concorso è che avrà più punti nella classifica
    del torneo, chi farà meno punti nello scontro diretto. E' quindi trofeo per chi ha perso di più.
    <br /><br />
    <span class="neretto">Coppa Inutile</span>: Trofeo di importanza 4 a cui partecipano 4 giocatori con girone.
    I Punti si otterrano con i punti secchi effettuati dai giocatori nel concorso in corso.
    <br /><br />
    <span class="neretto">Rotolo di coppa</span>: Trofeo di importanza 3 a cui partecipano 6 giocatori con girone
    , semifinale e finale secca. Questo trofeo è legato alle partite scelte. Chi otterrà più punti con la
    partita scelta in quella settimana vincerà lo scontro diretto.
    <br /><br /><hr />
    <span class="neretto scrittaGrande">PAGAMENTI</span><hr />
    Per l'anno in corso, il pagamento totale sarà di <span class="neretto">10 Euro</span> che andranno sommati per ottenere la cifra
    vincente. Al contrario del vecchio TotoMIO, non ci saranno vincite settimanali ma soltanto vincite finali
    che saranno riconosciute in base all'importanza del torneo. Queste sono le percentuali:<br /><br />
    <table>
      <tr>
        <th>
          Trofeo
        </th>
        <th>
          Percentuale
        </th>
      </tr>
      <tr>
        <td>
          Campionato
        </td>
        <td style="text-align: right;">
          40
        </td>
      </tr>
      <tr>
        <td>
          TotoMIO CUP
        </td>
        <td style="text-align: right;">
          13
        </td>
      </tr>
      <tr>
        <td>
          23 Aiutame Te
        </td>
        <td style="text-align: right;">
          10
        </td>
      </tr>
      <tr>
        <td>
          Pijo CUP
        </td>
        <td style="text-align: right;">
          10
        </td>
      </tr>
      <tr>
        <td>
          Pippa League
        </td>
        <td style="text-align: right;">
          10
        </td>
      </tr>
      <tr>
        <td>
          Coppa Inutile
        </td>
        <td style="text-align: right;">
          7
        </td>
      </tr>
      <tr>
        <td>
          Rotolo di Coppa
        </td>
        <td style="text-align: right;">
          10
        </td>
      </tr>
    </table>
    <br />
    I pagamenti si potranno effettuare tramite ricarica su conto PayPal aperto per l'occasione
    <span class="neretto">staff.totomio@gmail.com</span> e verranno registrati dall'amministratore nell'apposita sezione
    del sito.
 </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
