<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 50%; float: left;">
      <img *ngIf="tastoSalvataggio" class="immagineIcona" style="margin-left: 5px;" title="Salva Concorso"
        src="../../assets/Immagini/save.png" (click)="salvaConcorso()" />
      <span *ngIf="!tastoSalvataggio">&nbsp;</span>
    </div>
    <div class="scritta" style="width: 50%; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Anno {{idAnno2}} - {{DescrizioneAnno}} Concorso {{NumeroConcorso2}} Partite {{partite.length}}
    </div>
  </div>
  <div class="contenitoreInterno">
    <div class="rigaIncontro scritta" style="font-weight: bold;">
      <div style="width: 5%; float: left; margin-top: 10px;">N°</div>
      <div style="width: 35px; float: left;">&nbsp;</div>
      <div style="width: calc(35% - 35px); float: left; margin-top: 10px;">Casa</div>
      <div style="width: 35px; float: left;">&nbsp;</div>
      <div style="width: calc(35% - 35px); float: left; margin-top: 10px;">Fuori</div>
      <div style="width: 15%; float: left; margin-top: 10px; text-align: center;">Risultato</div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">Segno</div>
    </div>
    <div *ngFor="let partita of partite; let i = index" [attr.data-index]="i" class="rigaIncontro scritta">
      <div style="width: 5%; float: left; margin-top: 10px;">{{partita.idPartita}}</div>

      <div style="width: 35px; float: left;">
        <img class="immagineSquadra" title="{{partita.Prima}}"
          [src]="partita.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
      </div>
      <div style="width: calc(35% - 35px); float: left; margin-top: 10px;">
        <input type="text" [(ngModel)]="partita.Prima"  class="scritta" style="margin-left: 5px; margin-right: 5px; width: calc(95% - 10px);">
      </div>

      <div style="width: 35px; float: left;">
        <img class="immagineSquadra" title="{{partita.Seconda}}"
          [src]="partita.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
      </div>
      <div style="width: calc(35% - 35px); float: left; margin-top: 10px;">
        <input type="text" [(ngModel)]="partita.Seconda" class="scritta" style="margin-left: 5px; margin-right: 5px; width: calc(95% - 10px);">
      </div>

      <div style="width: 15%; float: left; margin-top: 10px; text-align: center;">
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato1" class="scritta" style="width: 20%;" (keypress)="handleKey1(i, $event)">
        -
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato2" class="scritta" style="width: 20%;" (keypress)="handleKey2(i, $event)">
      </div>
      <div style="width: 10%; float: left; margin-top: 10px; text-align: center;">{{partita.Segno}}</div>
    </div>
  </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
