<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 40px; float: left;">
      <img *ngIf="tastoSalvataggio" class="immagineIcona" style="margin-left: 5px;" title="Salva Concorso"
        src="../../assets/Immagini/save.png" (click)="salvaConcorso()" />
      <span *ngIf="!tastoSalvataggio">&nbsp;</span>
    </div>
    <div class="scritta" style="font-weight: bold; width: calc(100% - 80px); overflow: hidden; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Anno {{idAnno2}} - {{DescrizioneAnno}} Concorso {{NumeroConcorso2}} Partite {{partite.length}}
    </div>
  </div>
  <div class="contenitoreInterno scritta">
    <table style="min-width: 100%;">
      <tr>
        <th>
          N°
        </th>
        <th>
          &nbsp;
        </th>
        <th>
          Casa
        </th>
        <th>
          &nbsp;
        </th>
        <th>
          Fuori
        </th>
        <th>
          Ris. Casa
        </th>
        <th>
          Ris. Fuori
        </th>
        <th>
          Segno
        </th>
      </tr>
      <tr *ngFor="let partita of partite; let i = index" [attr.data-index]="i" class="scritta">
        <td style="text-align: center;">
          {{partita.idPartita}}
        </td>
        <td style="text-align: center;">
          <img class="immagineSquadra" title="{{partita.Prima}}"
            [src]="partita.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td style="text-align: center;">
          <input type="text" disabled="true" [(ngModel)]="partita.Prima"  class="scritta" style="margin-left: 5px; margin-right: 5px; width: 150px;">
        </td>
        <td style="text-align: center;">
          <img class="immagineSquadra" title="{{partita.Seconda}}"
            [src]="partita.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
        </td>
        <td style="text-align: center;">
          <input type="text" disabled="true" [(ngModel)]="partita.Seconda" class="scritta" style="margin-left: 5px; margin-right: 5px; width: 150px;">
        </td>
        <td style="text-align: center;">
          <input id="pronCasa_{{i}}" type="number" min="0" max="50" [(ngModel)]="partita.Risultato1" class="scritta" style="width: 30px;" (keypress)="handleKey1(i, $event)">
        </td>
        <td style="text-align: center;">
          <input id="pronFuori_{{i}}" type="number" min="0" max="50" [(ngModel)]="partita.Risultato2" class="scritta" style="width: 30px" (keypress)="handleKey2(i, $event)">
        </td>
        <td style="text-align: center;">
          {{partita.Segno}}
        </td>
      </tr>
    </table>
    <!--
    <div class="rigaIncontro scritta" style="font-weight: bold;">
      <div style="width: 5%; float: left; margin-top: 10px;">N°</div>
      <div style="width: 35px; float: left;">&nbsp;</div>
      <div style="width: calc(35% - 35px); float: left; margin-top: 10px;">Casa</div>
      <div style="width: 35px; float: left;">&nbsp;</div>
      <div style="width: calc(35% - 35px); float: left; margin-top: 10px;">Fuori</div>
      <div style="width: 15%; float: left; margin-top: 10px; text-align: center;">Risultato</div>
      <div style="width: 5%; float: left; margin-top: 10px; text-align: center;">Segno</div>
    </div>
    <div *ngFor="let partita of partite; let i = index" [attr.data-index]="i" class="rigaIncontro scritta">
      <div style="width: 5%; float: left; margin-top: 10px;">{{partita.idPartita}}</div>

      <div style="width: 35px; float: left;">
        <img class="immagineSquadra" title="{{partita.Prima}}"
          [src]="partita.ImmagineCasa" (error)="variabiliGlobali.handleMissingImage($event)" />
      </div>
      <div style="width: calc(35% - 35px); float: left; margin-top: 10px;">
        <input type="text" [(ngModel)]="partita.Prima"  class="scritta" style="margin-left: 5px; margin-right: 5px; width: calc(95% - 10px);">
      </div>

      <div style="width: 35px; float: left;">
        <img class="immagineSquadra" title="{{partita.Seconda}}"
          [src]="partita.ImmagineFuori" (error)="variabiliGlobali.handleMissingImage($event)" />
      </div>
      <div style="width: calc(35% - 35px); float: left; margin-top: 10px;">
        <input type="text" [(ngModel)]="partita.Seconda" class="scritta" style="margin-left: 5px; margin-right: 5px; width: calc(95% - 10px);">
      </div>

      <div style="width: 15%; float: left; margin-top: 10px; text-align: center;">
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato1" class="scritta" style="width: 20%;" (keypress)="handleKey1(i, $event)">
        -
        <input type="number" min="0" max="50" [(ngModel)]="partita.Risultato2" class="scritta" style="width: 20%;" (keypress)="handleKey2(i, $event)">
      </div>
      <div style="width: 10%; float: left; margin-top: 10px; text-align: center;">{{partita.Segno}}</div>
    </div>-->
  </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
