.finestra {
  margin-top: 2px;
  margin-left: 2px;
  width: 99%;
  height: 99%;
  opacity: .75;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: white;
}

.chiusura {
  position: absolute;
  right: 10px;
  top: 4px;
  width: 30px;
  background-repeat: no-repeat;
  height: 30px;
  background-size: contain;
  background-image: url('../../assets/Immagini/chiusura.png');
  cursor: pointer;
}

.barraSuperiore {
  width: 100%;
  float: left;
  height: 40px;
}

table {
  border-collapse: collapse;
}

.contenitoreInterno {
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
}

.immagineIcona {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.scritta {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.immagineSquadra {
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* filter: grayscale(1); */
  margin-top: 3px;
}

.tab {
  float: left;
  width: calc(20% - 15px);
  height: 20px;
  text-align: center;
  background-color: white;
  white-space: nowrap;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
}

.tab:hover {
  background-color: #d3d3d3;
  border-bottom: 2px solid #a9a9a9;
}

.contenitoreTab {
  margin-top: 25px;
  width: calc(100% - 10px);
  height: auto; /* calc(100% - 35px); */
  min-height: calc(100% - 45px);
  display: flex;
  border: 1px solid #999;
  border-radius: 3px;
  background-color: white;
  padding: 3px;
}

.tasto {
  margin-right: 3px;
  float: left;
  text-align: center;
  border: 1px solid #999;
}
.tasto:hover {
  background-color: #ededed;
}
