<div class="finestra">
  <div class="barraSuperiore">
    <div style="width: 50%; float: left;">
    </div>
    <div class="scritta" style="width: 50%; float: left; margin-top: 5px; font-weight: bold; white-space: nowrap;">
      Coppe Anno {{idAnno}} - {{DescrizioneAnno}} Concorso {{idConcorso2[coppaScelta]}}
    </div>
  </div>
  <div class="contenitoreInterno">
    <div style="width: 100%; height: 35px; float: left; white-space: nowrap; overflow: hidden;">
      <div *ngFor="let coppa of coppe; let i = index;" [attr.data-index]="i" class="tab scritta"
        [style.border-bottom]="coppaScelta == i ? '2px solid #a9a9a9' : '0px'"
        (click)="leggeCoppa(i)"
      >
        {{coppa.NomeCoppa}}
      </div>
    </div>
    <div class="contenitoreTab scritta">
      <!-- {{coppaScelta}} -->
      <div style="width: 100%; height: 100%;">
        <div style="width: 100%; height: 20px; float: left; margin-top: -8px; text-align: center; border-bottom: 1px solid #999;">
          <div class="tasto"
            [style.background-color]="!pannelloSemifinale && !pannelloFinale ? '#ededed' : 'transparent'"
            style="width: calc(10% - 5px); height: 17px; float: left; text-align: center;"
            (click)="pannelloSemifinale = false; pannelloFinale = false;">
            <img *ngIf="!errore" class="immagineIcona" style="margin-left: 5px;" title="Indietro"
              src="../../assets/Immagini/indietro.png" (click)="indietro()" />
              <span *ngIf="errore">&nbsp;</span>
          </div>
          <div style="float: left;"
            class="tasto"
            [style.background-color]="!pannelloSemifinale && !pannelloFinale ? '#ededed' : 'transparent'"
            [style.width.%]="coppe[coppaScelta].Semifinale && coppe[coppaScelta].Finale ? '30' :
              ((coppe[coppaScelta].Semifinale && !coppe[coppaScelta].Finale) ||
              (!coppe[coppaScelta].Semifinale && coppe[coppaScelta].Finale)) ? '54' : '79'"
              (click)="pannelloSemifinale = false; pannelloFinale = false;"
          >
            Giornata {{idConcorso2[coppaScelta]}}
          </div>
          <div class="tasto"
            [style.background-color]="!pannelloSemifinale && !pannelloFinale ? '#ededed' : 'transparent'"
            style="width: calc(10% - 5px); height: 17px; float: left; text-align: center;"
            (click)="pannelloSemifinale = false; pannelloFinale = false;">
            <img *ngIf="!errore" class="immagineIcona" style="margin-left: 5px;" title="Avanti"
              src="../../assets/Immagini/avanti.png" (click)="avanti()" />
            <span *ngIf="errore">&nbsp;</span>
          </div>
          <div *ngIf="coppe[coppaScelta].Semifinale" class="tasto"
            style="width: calc(25% - 9px);"
            [style.background-color]="pannelloSemifinale ? '#ededed' : 'transparent'"
            (click)="pannelloSemifinale = true; pannelloFinale = false;">
            Semifinali
          </div>
          <div *ngIf="coppe[coppaScelta].Finale" class="tasto"
            [style.background-color]="pannelloFinale ? '#ededed' : 'transparent'"
            style="width: calc(25% - 9px);" ù
            (click)="pannelloFinale = true; pannelloSemifinale = false;">
            Finale
          </div>
        </div>

        <div style="width: calc(100% - 5px); height: calc(100% - 22px); float: left; margin-top: 3px;">
          <div *ngIf="pannelloSemifinale" style="width: 100%; height: 100%; float: left;">
            <span *ngIf="errore" style="color: red;">{{errore}}</span>
            <span *ngIf="!errore" style="width: 100%; float: left; height: 20px; text-align: center;">
              Finale
            </span>
            <table *ngIf="!errore" style="width: 100%; float: left;" cellpadding="0" cellspacing="0">
              <tr style="border-bottom: 1px solid #999; margin-top: 5px;">
                <th>Partita</th>
                <th>Casa</th>
                <th>Fuori</th>
                <th>Risultato 1</th>
                <th>Risultato 2</th>
                <th>Vincente</th>
              </tr>
              <tr *ngFor="let classif of semifinale; let i2 = index" [attr.data-index]="i2"
                [style.background-color]="classif.Pari ? '#cecefd' : 'transparent'"
                style="border-bottom: 1px solid #999; margin-top: 5px;">
                <td style="text-align: center;">{{classif.Numero}}</td>
                <td>{{classif.Casa}}</td>
                <td>{{classif.Fuori}}</td>
                <td>{{classif.Risultato1}}</td>
                <td>{{classif.Risultato2}}</td>
                <td *ngIf="classif.Vincente == 1" style="text-align: center;">{{classif.Casa}}</td>
                <td *ngIf="classif.Vincente == 2" style="text-align: center;">{{classif.Fuori}}</td>
                <td *ngIf="classif.Vincente == 0" style="text-align: center;">Pareggio</td>
                <td *ngIf="classif.Vincente == -1" style="text-align: center;">--</td>
              </tr>
            </table>
          </div>
          <div *ngIf="pannelloFinale" style="width: 100%; height: 100%; float: left;">
            <span *ngIf="errore" style="color: red;">{{errore}}</span>
            <span *ngIf="!errore" style="width: 100%; float: left; height: 20px; text-align: center;">
              Semifinale
            </span>
            <table *ngIf="!errore" style="width: 100%; float: left;" cellpadding="0" cellspacing="0">
              <tr style="border-bottom: 1px solid #999; margin-top: 5px;">
                <th>Partita</th>
                <th>Casa</th>
                <th>Fuori</th>
                <th>Risultato 1</th>
                <th>Risultato 2</th>
                <th>Vincente</th>
              </tr>
              <tr *ngFor="let classif of finale; let i2 = index" [attr.data-index]="i2"
                [style.background-color]="classif.Pari ? '#cecefd' : 'transparent'"
                style="border-bottom: 1px solid #999; margin-top: 5px;">
                <td style="text-align: center;">{{classif.Numero}}</td>
                <td>{{classif.Casa}}</td>
                <td>{{classif.Fuori}}</td>
                <td>{{classif.Risultato1}}</td>
                <td>{{classif.Risultato2}}</td>
                <td *ngIf="classif.Vincente == 1" style="text-align: center;">{{classif.Casa}}</td>
                <td *ngIf="classif.Vincente == 2" style="text-align: center;">{{classif.Fuori}}</td>
                <td *ngIf="classif.Vincente == 0" style="text-align: center;">Pareggio</td>
                <td *ngIf="classif.Vincente == -1" style="text-align: center;">--</td>
              </tr>
            </table>
          </div>

          <div *ngIf="!pannelloSemifinale && !pannelloFinale" style="width: calc(50% - 5px); height: 100%; float: left;">
            <span *ngIf="errore" style="color: red;">{{errore}}</span>
            <span *ngIf="!errore" style="width: 100%; float: left; height: 20px; text-align: center;">
              Classifica
            </span>
            <table *ngIf="!errore" style="width: 100%; float: left;" cellpadding="0" cellspacing="0">
              <tr style="border-bottom: 1px solid #999; margin-top: 5px;">
                <th>Pos.</th>
                <th>Utente</th>
                <th>Punti</th>
              </tr>
              <tr *ngFor="let classif of classifica; let i2 = index" [attr.data-index]="i2"
                [style.background-color]="classif.Pari ? '#cecefd' : 'transparent'"
                style="border-bottom: 1px solid #999; margin-top: 5px;">
                <td style="text-align: center;">{{classif.Posizione}}</td>
                <td>{{classif.NickName}}</td>
                <td style="text-align: right;">{{classif.Punti}}</td>
              </tr>
            </table>
          </div>
          <div *ngIf="!pannelloSemifinale && !pannelloFinale" style="width: calc(50% - 5px); height: 100%; float: left; border-left: 1px solid #999;">
            <span *ngIf="errore">&nbsp;</span>
            <span *ngIf="!errore" style="width: 100%; float: left; height: 20px; text-align: center;">
              Partite
            </span>
            <table *ngIf="!errore" style="width: 100%; float: left;" cellpadding="0" cellspacing="0">
              <tr style="border-bottom: 1px solid #999; margin-top: 5px;">
                <th>N°</th>
                <th>Casa</th>
                <th>Fuori</th>
                <th>Vincente</th>
              </tr>
              <tr *ngFor="let classif of partite; let i2 = index" [attr.data-index]="i2"
                [style.background-color]="classif.Pari ? '#cecefd' : 'transparent'"
                style="border-bottom: 1px solid #999; margin-top: 5px;">
                <td style="text-align: center;">{{classif.Numero}}</td>
                <td>{{classif.Casa}}<br />{{classif.Risultato1}}</td>
                <td>{{classif.Fuori}}<br />{{classif.Risultato2}}</td>
                <td *ngIf="classif.Vincente == 1" style="text-align: center;">{{classif.Casa}}</td>
                <td *ngIf="classif.Vincente == 2" style="text-align: center;">{{classif.Fuori}}</td>
                <td *ngIf="classif.Vincente == 0" style="text-align: center;">Pareggio</td>
                <td *ngIf="classif.Vincente == -1" style="text-align: center;">--</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="chiusura" (click)="chiusura()" title="Chiusura finestra">
</div>
